.page {
    background-color: black;
    color: white;
    margin: 0;
}

.header {
    border-bottom: 4px double wheat;
    margin-bottom: 20px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #000;
}

.name {
    font-style: italic;
    margin-bottom: 10px;
}

.photos {
    padding-top: 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.photos__item {
    width: 30%;
    height: 30%;
    min-height: 200px;
    min-width: 200px;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.skills {
    font-size: 24px;
    font-family: Gill Sans, sans-serif;
}

.skills__item {

}

.footer {
    margin-top: 20px;
    border-top: 4px double wheat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__item {
    
}

.contacts {
    border: 4px double wheat;
    padding: 10px;
}

.logo_image {
    max-height: 40px;
    min-width: 40px;
    margin-right: 5px;
}

.title_text {
    font-style: italic;
    font-size: 40px;
}

/* Стили для формы обратной связи */

#feedback-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
}

#feedback-form.open {
  display: block;
}

#feedback-form h2 {
  margin-top: 0;
}

#feedback-form label {
  display: block;
  margin-bottom: 10px;
}

#feedback-form input, #feedback-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

#feedback-form input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#feedback-form input[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Стили для кнопки открытия/закрытия формы */

#toggle-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#toggle-button:hover {
  background-color: #3e8e41;
}

.feedback-form-text {
    color: #000;
}

#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#popup-content {
  color: #000;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 400px;
}

#countdown {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.zoom-on-hover {
  transition: transform 0.5s;
}

.zoom-on-hover:hover {
  transform: scale(1.1);
}

.popup-gallery {
  padding-top: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.popup-content {
  position: relative;
  margin: 50px auto;
  width: 40%;
  height: 75%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup-image {
  width: 100%;
  height: 100%;
}

.popup-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.popup-prev, .popup-next {
  font-size: 24px;
  cursor: pointer;
}

.popup-prev:disabled, .popup-next:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.popup-close {
  position: absolute;
  bottom: 400px;
  right: 0;
  font-size: 24px;
  cursor: pointer;
  color: red;
  z-index: 10000;
}

.popup-close:hover {
  color: #ccc;
}